*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.errors ul{
    list-style-type: none;
    color: red
}

.errors{
    width: 300px
}
td{
    width: 300px;
}

.label{
    width: 100px;
}

input, select{
    width: 300px;
    height: 40px;
    padding: 8px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid black
}

button{
    width: 120px;
    height: 50px;
    margin-top: 30px;
    font-size: 15px;
    background-color: aqua;
    border-radius: 10px;
    border: 1px solid black
}
button:hover{
    background-color: green;
    color: white;
    cursor: pointer;
}
