*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 600px;
    margin: 20px auto 0;
}

h1{
    text-align: center;
    margin-bottom: 10px;
}

input{
    display: block;
    width: 300px;
    height: 40px;
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
    margin: 0 auto 20px;
}

.btn{
    display: flex;
    gap: 70px;
    justify-content: center;
    margin-bottom: 20px;
}

.btn>button{
    width: 100px;
    height: 40px;
    font-size: 18px;
    color: white;
    background-color: blue;
    border: 0;
    border-radius: 10px;
}

.btn>button:hover{
    background-color: green;
    cursor: pointer;
}

#congrat{
    text-align: center;
    color: red;
    margin-top: 20px;
}


