*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 1000px;
    margin: 0 auto;
    background-color: #f4f4f4;
}

header{
    text-align: center;
    color: white;
    background-color: #333;
}

h1, p, ol{
    padding: 20px 0;
}

h1{
    font-size: 24px;
}

p{
    font-size: 16px;
}

h2{
    text-align: center;
    text-decoration: underline;
    color: #222
}

.introduce{
    width: 600px;
    margin: 20px auto;
}

.introduce>table{
    width: 600px;
    text-align: center;
    margin: 20px 0;
}

.introduce>table th{
    background-color: #ddd;
}

.introduce>table td{
    padding: 8px;
}

#project:hover{
    color: #eef
}
