*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 800px;
    margin: 0 auto;
}

h1{
    text-align: center;
    margin: 50px 0;
}
form{
    width: 400px;
    margin: 0 auto;
}

label,input{
    margin: 10px 0;
}

label{
    font-size: 20px;
}
input{
    width: 100%;
    height: 40px;
    font-size: 20px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
}

button{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: blue;
    color: white;
    border-radius: 10px;
}

#err{
    font-style: italic;
    color: red;
}

button:hover{
    cursor: pointer;
    background-color: green;
}